* {
  box-sizing: border-box;
  font-family: 'roboto';
}
.main-container {
  padding: 35px;
  width: 100vw;
  min-height: 100vh;
  background-color: #9ba9eb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo {
  width: 20vw;
  height: 10vh;
  margin-bottom: 10px;
}
.password-manager-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80vh;
}
